@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

html {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  text-size-adjust: 100%;
}
body {
  @apply bg-gray-1;
  @apply mt-5;
  @apply pt-3;
}
a {
  text-decoration: underline;
}
aside,
footer,
header,
label,
nav,
section,
select,
time {
  display: block;
}
header {
  max-height: 60px;
}
ul {
  @apply list-none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
  margin-block-end: 0;
  margin-block-start: 0;
}
h1,
h2 {
  @apply font-bold;
}
h1 {
  @apply text-1;
}
h2 {
  @apply text-2;
}
h3 {
  @apply text-3;
}
h4,
h5,
h6 {
  @apply text-base;
}
select,
input[type="submit"] {
  @apply cursor-ptr;
}
.btn {
  @apply bg-white;
  @apply border;
  @apply cursor-ptr;
  @apply duration-150;
  @apply font-normal;
  @apply inline-block;
  @apply leading-none;
  @apply rounded;
  @apply text-center;
  @apply transition;
  @apply whitespace-no-wrap;
  vertical-align: middle;
}
button {
  @apply btn;
}
button,
textarea {
  @apply appearance-none;
}
i,
option,
select {
  @apply leading-none;
}
textarea {
  @apply leading-loose;
}
input,
select,
textarea {
  @apply border;
  @apply m-0;
  @apply contain-sm;
  @apply p-2;
}
input,
select {
  @apply transition;
  height: 3rem;
}
input {
  @apply rounded-0;
}
/*
  HEY @TODO ADD DESKTOP ONLY HEIGHT/TEXT-INDENT HERE WITH RESPONSIVE VARIANT
  .5rem indent + 3 rem height
*/
select {
  @apply bg-white;
  @apply rounded-lg;
  @apply whitespace-normal;
  text-indent: .5rem;
}
select:hover {
  @apply bg-gray-3;
}
i {
  font-style: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
}
[disabled] {
  @apply opacity-5;
  @apply pointer-events-none;
  @apply cursor-disabled;
}
.contain {
  max-width: 1400px;
  width: 90%;
}
.contain-sm {
  max-width: 760px;
}
small {
  @apply text-sm;
  @apply leading-loose;
}
.t {
  top: 0;
}
.tHdr {
  top: 60px;
}
.r {
  right: 0;
}
.b {
  bottom: 0;
}
.l {
  left: 0;
}
.truncate {
  @apply whitespace-no-wrap;
  @apply overflow-hidden;
  text-overflow: ellipsis;
}
.lineClamp {
  @apply overflow-hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.loading {
  @apply relative;
  @apply inline-block;
  width: 80px;
  height: 80px;
}
.loading div {
  @apply absolute;
  @apply block;
  @apply rounded-circ;
  animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid #000;
  border-color: #000 transparent transparent transparent;
  box-sizing: border-box;
  height: 64px;
  margin: 8px;
  width: 64px;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@-moz-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
