@require 'nib'

*,
*:before,
*:after
  box-sizing border-box

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
strong,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
embed,
footer,
header,
menu,
nav,
section,
video
  border 0
  font-size 100%
  vertical-align baseline

a,
article,
aside,
blockquote,
body,
canvas,
div,
em,
embed,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
legend,
li,
menu,
nav,
ol,
section,
span,
strong,
ul,
video
  margin 0
  padding 0

html
  -moz-osx-font-smoothing grayscale
  -ms-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  text-rendering optimizeSpeed
  text-size-adjust 100%

body
  background #fff

body,
html
  color #000
  font-family Lab, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
  font-size 18px
  font-weight 400
  line-height 28px
  letter-spacing .3px

aside,
div,
footer,
header,
img,
label,
menu,
nav,
section,
select,
time
  display block

// only use is as a sidebar - trying to avoid complicated grid logic
aside
  max-width 30%

main
  overflow-x hidden

ul
  list-style none

h1,
h2,
h3
  font-family Cooper, Georgia, serif

h4,
h5,
h6
  font-family Lab, sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  color #000
  line-height 1
  width 100%

p
  margin 0 0 14px

a,
.btn,
button,
select,
[type="checkbox"],
[type="submit"]
  cursor pointer

// file stuff has a lot of css, but needed to reset file inputs
[type="file"]
  border 0
  clip rect(0, 0, 0, 0)
  height 1px
  overflow hidden
  padding 0
  position absolute !important
  white-space nowrap
  width 1px

a
  color #000
  font-family inherit
  outline 0

.btn,
button
  background 0
  border 1px solid #e1e1e1
  border-radius 4px
  box-shadow none
  display inline-block
  font-family Lab, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
  font-size 14px
  font-weight 400
  line-height 1
  margin 0
  padding 4px 8px
  text-align center
  vertical-align middle
  white-space nowrap

b,
strong
  font-weight 600

img
  height auto
  max-width 100%

button,
option,
select,
textarea
  appearance none
  line-height: 1

input
  border-radius 0

input,
select,
textarea
  border 1px solid #e1e1e1
  font-family inherit !important
  font-size 16px
  margin 0
  max-width 760px
  padding 16px

select
  border-radius 8px
  transition background-color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)
  white-space normal
  &:hover
    background-color: #efefef

i
  font-style normal
  font-variant normal
  line-height 1
  speak none
  text-transform none

.disable,
[disabled]
  cursor not-allowed
  pointer-events none

.aiStart
  align-items flex-start

.aiEnd
  align-items flex-end

.aiBase
  align-items baseline

.aiCtr
  align-items center

.aiStretch
  align-items stretch

.acStart
  align-content flex-start

.acEnd
  align-content flex-end

.acBase
  align-content baseline

.acCtr
  align-content center

.acStretch
  align-content stretch

.asAuto
  align-self auto

.asStart
  align-self flex-start

.asEnd
  align-self flex-end

.asCtr
  align-self center

.asBaseline
  align-self baseline

.asStretch
  align-self stretch

.jcStart
  justify-content flex-start

.jcEnd
  justify-content flex-end

.jcCtr
  justify-content center

.jcBetween
  justify-content space-between

.jcAround
  justify-content space-around

.col
  flex auto
  min-width 0

.third
  margin-right .5%
  width 33%
  &:last-child
    margin-right 0
  &:nth-child(3n)
    margin-right 0

.fxg0
  flex-grow 0

.contain
  display block
  margin-left auto
  margin-right auto
  max-width 1200px
  width 90%

.fx
  display flex

.fxNoShrink
  flex-shrink 0

.fxdCol
  flex-direction column

.fxdRow
  flex-direction row

.fxWrap
  flex-wrap wrap

.fxNoWrap
  flex-wrap nowrap

.hide
  display none

.m1
  margin 4px

.p1
  padding 4px

.mT1
  margin-top 4px

.pT1
  padding-top 4px

.mR1
  margin-right 4px

.pR1
  padding-right 4px

.mB1
  margin-bottom 4px
.pB1
  padding-bottom 4px
.mL1
  margin-left 4px
.pL1
  padding-left 4px
.m2
  margin 8px
.p2
  padding 8px
.mT2
  margin-top 8px
.pT2
  padding-top 8px
.mR2
  margin-right 8px
.pR2
  padding-right 8px
.mB2
  margin-bottom 8px
.pB2
  padding-bottom 8px
.mL2
  margin-left 8px
.pL2
  padding-left 8px
.m3
  margin 16px
.p3
  padding 16px
.mT3
  margin-top 16px
.pT3
  padding-top 16px
.mR3
  margin-right 16px
.pR3
  padding-right 16px
.mB3
  margin-bottom 16px
.pB3
  padding-bottom 16px
.mL3
  margin-left 16px
.pL3
  padding-left 16px
.m4
  margin 32px
.p4
  padding 32px
.mT4
  margin-top 32px
.pT4
  padding-top 32px
.mR4
  margin-right 32px
.pR4
  padding-right 32px
.mB4
  margin-bottom 32px
.pB4
  padding-bottom 32px
.mL4
  margin-left 32px
.pL4
  padding-left 32px
.m5
  margin 64px
.p5
  padding 64px
.mT5
  margin-top 64px
.pT5
  padding-top 64px
.mR5
  margin-right 64px
.pR5
  padding-right 64px
.mB5
  margin-bottom 64px
.pB5
  padding-bottom 64px
.mL5
  margin-left 64px
.pL5
  padding-left 64px
.hidden
  visibility hidden
.fix
  position fixed
h2,
.fs2
  font-size 32px
  line-height 32px
h3,
.fs3
  font-size 21px
  line-height 32px
h4,
.fs4
  font-size 18px
  line-height 24px
h5,
h6,
.fs5
  font-size 16px
  line-height 24px
.fs6,
small
  font-size 14px
.fw300
  font-weight 300
.fw400
  font-weight 400
.fw500
  font-weight 500
.fw600
  font-weight 600
.fw700
  font-weight 700
.row
  width 100%
.maxWidth
  max-width 760px
.dTable
  display table
.dIn
  display inline
.dInBl
  display inline-block
.dBl,
.show
  display block
.abs
  position absolute
.rel
  position relative
.t
  top 0
.r
  right 0
.b
  bottom 0
.l
  left 0
.bg0
  background 0
.m0
  margin 0
.p0
  padding 0
.ctr
  margin-left auto
  margin-right auto
.i
  font-style italic
.condense
  font-stretch condensed
.underline
  text-decoration underline
.noUnderline
  text-decoration none
.strike
  text-decoration line-through
.ttCap
  text-transform capitalize
.ttLower
  text-transform lowercase
.ttUpper
  text-transform uppercase
.brAll
  display inline-block
  word-break break-all
.wrap
  white-space normal
.nowrap
  white-space nowrap
.lh1
  line-height 1
.flL
  float left
.flR
  float right
.taCtr
  text-align center
.taR
  text-align right
.taL
  text-align left
.zNeg
  z-index -1
.z0
  z-index 0
.z1
  z-index 1
.z2
  z-index 2
.z3
  z-index 3
.z4
  z-index 4
.z5
  z-index 5
.z6
  z-index 6
.z7
  z-index 7
.z8
  z-index 8
.z9
  z-index 9
.z98
  z-index 98
.z99
  z-index 99
.o0
  opacity 0
.o1
  opacity 0.1
.o2
  opacity 0.2
.o3
  opacity 0.3
.o4
  opacity 0.4
.o5
  opacity 0.5
.o6
  opacity 0.6
.o7
  opacity 0.7
.o8
  opacity 0.8
.o9
  opacity 0.9
.circ
  border-radius 50%
.trans1
  transition all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1)
.curDefault
  cursor default
.curPtr
  cursor pointer
.curTxt
  cursor text
.curZoom
  cursor pointer
  cursor zoom-in
.curDisable
  cursor not-allowed
  pointer-events none
.lsDisc
  list-style disc
.lsNone
  list-style none
.ovfHide
  overflow hidden
.ovfScr
  overflow scroll
.ovfTouch
  overflow-scrolling touch
.ovfXScr
  overflow-x scroll
.ovfYScr
  overflow-y scroll
.bgWhite
  background-color #fff
.bgBlack
  background-color #000
.bgBlue
  background-color #00ff
.bgBlueLite
  background-color #a7c8df63
.bgGreen
  background-color #00ff00
.bgGreenLite
  background-color #afdfa763
.bgYellowLite
  background-color #dfd7a763
.bgRed
  background-color #ff0000
.bgRedLite
  background-color #ff9f9f
.bgMagenta
  background-color #df00ff
.hvrBgGreen
  &:hover
    background-color #00ff00
.bgYellow
  background-color #ffC200
.bgGrey1
  background-color #f6f6f6
.bgGrey2
  background-color #efefef
.bgGrey3
  background-color #ccc
.hvrBgGrey1
  &:hover
    background-color #f6f6f6
.hvrBgGrey3
  &:hover
    background-color #ccc
.red
  color #ff0000
.black
  color #000
.copyBlack
  color #444
.grey2
  color #efefef
.grey3
  color #ccc
.white
  color #fff
.green
  color #00ff00
.bxSh1
  box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.15)
.br0
  border-radius 0
.br4
  border-radius 4px
.br8
  border-radius 8px
.br16
  border-radius 16px
.ba0
  border-width 0
.brdA1
  border 1px solid #e1e1e1
.brdR1
  border-right 1px solid #e1e1e1
.brdL0
  border-left 0
.brdL1
  border-left 1px solid #e1e1e1
.brdB0
  border-bottom 0
.brdB1
  border-bottom 1px solid #e1e1e1
.brdT1
  border-top 1px solid #e1e1e1
.brdW1
  border-width 1px
.brdW2
  border-width 2px
.brdW3
  border-width 3px
.bsDashed
  border-style dashed
.bsSolid
  border-style solid
.animate
  -webkit-backface-visibility hidden
  animation-fill-mode both
  transform translateZ(0)
.anDur1
  animation-duration 0.1s
.anDur2
  animation-duration 0.3s
.accelerate
  -webkit-backface-visibility hidden
  transform translateZ(0)
.gradPurple
  background #FF1D25
  background linear-gradient(to right, #FF1D25 0%,#FFCF00 100%)
.gradGrey
  background #efefef
  background linear-gradient(to top, #ccc 0%,#efefef 100%)
.ffIvar
  font-family Ivar, serif
.ffLab
  font-family Lab, HelveticaNeue, Helvetica, sans-serif
.ffEksell
  font-family Eksell, serif
.ffCooper
  font-family Cooper, serif
.truncate
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.lineClamp
  display -webkit-box
  overflow hidden
  -webkit-line-clamp 3
  -webkit-box-orient vertical
.grid
  & > li
    max-width 32.5%
    min-width 32.5%
.brdMagenta
  border-color #ff0a95
.brdRed
  border-color #ff0000
.brdBlue
  border-color #0000ff
.c3
  max-width 33%

@media (max-width: 768px)
  .col
    margin-left 0
    margin-right 0
    min-width 100%
    width 100%

  .fx
    flex-direction column

  .mHide
    display none

  h1,
  .fs1
    font-size 36px
    line-height 36px

@media (min-width: 768px)
  h1,
  .fs1
    font-size 56px
    line-height 56px
