@font-face {
  font-display: swap;
  font-family: 'Lab';
  src: url('./fonts/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/LabGrotesque-Medium.woff2') format('woff2'),
    url('./fonts/LabGrotesque-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
